* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

.time-number {
    font-size: 120px;
}

.time-text {
    font-size: 20px;
}

.time-over {
    color: red;
}